@import '../../../../styles/variables.scss';
.this {
  &__day {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-image: var(#{--img-background-default});
    background-repeat: no-repeat;
    padding: 125px 85px 48px;
    margin-bottom: 40px;
  }
  &__temp {
    font-weight: 300;
    font-size: 112px;
    line-height: 112px;
    color: var(#{--color-default});
  }
  &__time {
    font-weight: 700;
    margin-right: 50px;
    font-size: 32px;
    line-height: 40px;
    color: var(#{--color-default});
  }
  &__city,
  &__data {
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: var(#{--color-default});
  }
  &__icon {
    margin-left: 12px;
    svg {
      path {
        stroke: var(#{--color-default});
      }
    }
  }
}
