.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 40px;
  @media (max-width: 475px) {
    flex-direction: column-reverse;
    padding: 20px 0 20px;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  @media (max-width: 475px) {
    margin: 0;
    &:last-child {
      margin-bottom: 15px;
    }
  }
}
.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #{var(--color-default)};
  @media (max-width: 475px) {
    font-weight: 400;
  }
}
.search {
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
  &::placeholder {
    font-size: 16px;
    line-height: 20px;
  }
}
.input_icons {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: var(#{--color-default});
  border: 1px solid var(#{--input-color-default});
  border-radius: 8px;
  height: 45px;
  max-width: 340px;
  padding: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.change_theme {
  margin-right: 10px;
  svg {
    stroke: var(#{--color-default});
  }
}
.search_icon {
  display: flex;
  cursor: pointer;
}
